.navbar a{
    text-decoration: none;
    margin-left: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
  }
  .navbar{
    background-image: url("../../assets/2.jpg");
  }

  i{
    font-size: 2rem;
  }

a{
    font-family: 'Pacifico';
  }
  

