<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  </head>
  
  <body>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Produttore:</h3>
                        <ul>
                            <li>Denis Babin</li>
                            <li>d.babinmi@gmail.com</li>
                            <li>+39 34610978567</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Scuola:</h3>
                        <ul>
                            <li>Epic Education srl ©</li>
                            <li>Via Baccio Baldini 12 <br> 00146 Roma</li>
                            <li>P.IVA: 15878411006</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Lavora con me</h3>
                        <ul>
                          <li>Postazioni Vacanti</li>
                          <li>Inviami il tuo CV</li>
                          <li>F.A.Q.</li>
                      </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a><a href="https://github.com/SonoRussoCredo"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-reddit"></i></a>
                        <p class="copyright">Progetto Finale Epicode © 2021</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
  </body>